[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
motor = "*"
gnupg = "*"
sanic-validation = "*"
sanic-cors = "*"
sanic-plugins-framework = "*"
python-dotenv = "*"

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
