[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = ">=24.6.0"
motor = ">=3.6.0"
gnupg = ">=2.3.1"
sanic-validation = "*"
python-dotenv = ">=1.0.1"
aiohttp = ">=3.10.0"
sanic-ext = ">=23.12.0"
dnspython = ">=2.7.0"

[dev-packages]
flake8 = ">=7.0.0"
pytest = "*"
pytest-sanic = "*"
sanic-testing = "*"
httpx = "==0.28.1"

[requires]
python_version = "3.13"

[pipenv]
allow_prereleases = true
